.form-privacy {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	&__checkbox {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		border-radius: 2px;
		width: 15px;
		height: 15px;
		background-color: rgb(130, 130, 130);
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			border-radius: 50%;
			width: 4px;
			height: 4px;
		}
	}
}
.form-privacy__checkbox-hidden:checked + .form-privacy__checkbox {
	// background-image: url("../img/form/form-check.svg");
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}
.fixed {
	position: fixed;
	left: 0;
	top: 0;
}

// __POPS
.popups {
	display: none;
}
.pop-thanks {
	border-radius: 12px;
	padding: 40px 20px;
	width: 300px;
	background-color: #fff;
}

// @burger
.burger {
	display: flex;
	justify-content: space-around;
	flex-flow: column wrap;
	width: 40px;
	height: 40px;
	cursor: pointer;

	&__line {
		transition: all 0.5s;
		display: block;
		position: relative;
		width: 100%;
		height: 4px;
		background-color: #333;
		border-radius: 4px;
	}

	&--active {
		.burger__line {
			transition: all 0.5s;

			&:first-child {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				display: none;
			}

			&:last-child {
				transform: rotate(-45deg);
				margin-top: -100%;
			}
		}
	}
}

@media (min-width: 1100px) {
	.burger {
		display: none;
	}
}

// @hidden

@media (min-width: 1100px) {
	.hidden-desktop {
		display: none;
	}
}

@media (max-width: 1099px) {
	.hidden-mobile {
		display: none;
	}
}

// @container
.container {
	padding: 0 15px;
}

@media (min-width: 575.98px) {
	.container {
		max-width: 540px;
		margin: auto;
		padding: 0;
	}
}

@media (min-width: 767.98px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 991.98px) and (max-width: 1100px) {
	.container {
		max-width: 960px;
		padding: 0 calc(100% - (50% + 590px));
	}
}

@media (min-width: 1199.98px) {
	.container {
		max-width: 1170px;
	}
}

// @button

.button {
	display: block;
	padding: 20px;
	max-width: 270px;
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	border-radius: 10px;
	transition: 0.25s all;
}
.button--primary {
	color: #fff;
	background: #7486c7;
}
.button--secondary {
	--button-color: #a1a1a1;
	color: var(--button-color);
	border: 1px solid var(--button-color);
	&:hover {
		color: #fff;
		background-color: var(--button-color);
		transition: 0.25s all;
	}
}
.button--danger {
	--button-color: #ee7979;
}

// @input
.input__wrap {
	position: relative;
}
.input__wrap-half {
	max-width: calc(270px / 2);
}
.input {
	display: block;
	max-width: 270px;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-top: 25px;

	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #444444;

	background: linear-gradient(
			315deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		#f0f1f5;
	background-blend-mode: soft-light, normal;
	box-shadow: inset -1.87227px -1.87227px 1.87227px rgba(255, 255, 255, 0.7),
		inset 2.8084px 2.8084px 1.87227px rgba(174, 174, 192, 0.2);
	border-radius: 7.48907px;
}
.input__placeholder {
	position: absolute;
	opacity: 0;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	line-height: 19px;
	color: #a7a7a7;
	transition: 0.25s all;
}

.input[value=""] ~ .input__placeholder {
	opacity: 1;
}
.input:valid ~ .input__placeholder,
.input:not([value=""]) ~ .input__placeholder,
.input:not(:empty) ~ .input__placeholder,
.input:focus ~ .input__placeholder {
	opacity: 1;
	top: 14px;
	font-size: 12px;
}

// @type @title @text

.section__title {
	font-weight: 400;
	font-size: 35px;
	line-height: 120%;
	color: #444444;
	margin-bottom: 45px;
}
