@mixin get-ff($fontname, $weight) {
	@font-face {
		src: url("../fonts/#{$fontname}.woff2") format("woff2"),
			url("../fonts/#{$fontname}.woff") format("woff");
		font-family: "Montserrat";
		font-weight: $weight;
		font-style: normal;
		font-display: swap;
	}
}

@include get-ff("Montserrat-Thin", 100);
@include get-ff("Montserrat-ExtraLight", 200);
@include get-ff("Montserrat-Light", 300);
@include get-ff("Montserrat-Regular", 400);
@include get-ff("Montserrat-Medium", 500);
@include get-ff("Montserrat-SemiBold", 600);
@include get-ff("Montserrat-Bold", 700);
@include get-ff("Montserrat-ExtraBold", 800);
@include get-ff("Montserrat-Black", 900);
