@import "normalize.scss";
@import "fonts.scss";
@import "resets.scss";
@import "common.scss";

:root {
	--c-primary: #7486c7;
	--c-text-regular: #444;
	--c-text-second: #a1a1a1;

	--fz-regular: 18px;
	--fz-title-section: 35px;

	--z-dropdown: 10;
	--z-tooltip: 20;
	--z-sticky-header: 90;
	--z-popup: 100;
	--z-burger-button: 50;
	--z-burger: 110;
}

@mixin transition-mix(
	$property: all,
	$duration: 0.2s,
	$timing: linear,
	$delay: 0s
) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}

.container {
	padding: 0 15px;
}

@media (min-width: 575.98px) {
	.container {
		max-width: 540px;
		margin: auto;
		padding: 0;
	}
}

@media (min-width: 767.98px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 991.98px) and (max-width: 1100px) {
	.container {
		max-width: 960px;
		padding: 0 calc(100% - (50% + 590px));
	}
}

@media (min-width: 1199.98px) {
	.container {
		max-width: 1140px;
	}
}
