@import "normalize.scss";
@import "fonts.scss";
@import "resets.scss";
@import "common.scss";

:root {
	--c-primary: #7486c7;
	--c-primary-inactive: #94abff;
	--c-text-regular: #444;
	--c-text-second: #a1a1a1;
	--c-valid: #179214;
	--c-favorite: #ff4756;
	--c-danger: #ff4756;
	--c-invalid: #ff4756;

	--fz-regular: 18px;
	--fz-title-section: 35px;

	--z-dropdown: 10;
	--z-tooltip: 20;
	--z-sticky-header: 90;
	--z-popup: 100;
	--z-burger-button: 50;
	--z-burger: 110;

	--scroll-mask-limiter: linear-gradient(
		90deg,
		transparent 0,
		rgba(0, 0, 0, 0.25) 0,
		#000 18px,
		#000 calc(100% - 18px),
		rgba(0, 0, 0, 0.25) calc(100% - 9px),
		transparent
	);
}

@mixin transition-mix(
	$property: all,
	$duration: 0.2s,
	$timing: linear,
	$delay: 0s
) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}

@import "blocks/header";

@import "blocks/offers-slider";

@import "blocks/bullets";

@import "blocks/product-card";
@import "blocks/catalog";

@import "blocks/partners";

@import "blocks/shops";

@import "blocks/blog";

@import "blocks/footer";

@import "blocks/account";
@import "blocks/product-page";
@import "blocks/cart";
@import "blocks/checkout";
@import "blocks/information";
