.account__page {
	display: flex;
	padding-bottom: 80px;
}

.account__title {
	margin-top: 50px;
	margin-bottom: 50px;
}
.account__content {
	width: 100%;
}

.account__nav {
	margin-right: 30px;
	max-width: 270px;
	width: 100%;
}
.account__nav-list {
	background: #ffffff;
	box-shadow: 0px 14px 44px rgba(197, 197, 197, 0.25);
	border-radius: 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #444444;
	overflow: hidden;
}
.account__nav-item {
	font-size: inherit;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.account__nav-link {
	font-size: inherit;
	display: block;
	padding: 22px;
}
.account__nav-item--active {
	background: rgba(116, 134, 199, 0.05);
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	&:first-of-type {
		border-top: 1px solid transparent;
	}
	&:last-of-type {
		border-bottom: 1px solid transparent;
	}
}

.account__content-title {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	color: #444444;
	margin-bottom: 25px;
}

// @wishlist
.wishlist {
	width: 100%;
}
.wishlist__card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 25px;
}

.wishlist__price {
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	display: flex;
	align-items: center;
	color: #000000;
}
.wishlist__price-caption {
	margin-left: 5px;
	color: #6b6b6b;
}

.wishlist__buttons {
	display: flex;
	align-items: center;
	max-width: 370px;
	width: 100%;
}
.wishlist__buy {
	padding-left: 10px;
	padding-right: 10px;
}
.wishlist__remove {
	margin-left: 25px;
	max-width: 130px;
}

// @addresses
.account-addresses {
	width: 100%;
}
.account-addresses__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}
.account-addresses__geo {
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	color: #444444;
}
.account-addresses__buttons {
	max-width: 370px;
	display: flex;
	align-items: center;
}

.account-addresses__change {
	max-width: 170px;
}
.account-addresses__remove {
	margin-left: 35px;
	max-width: 170px;
}

.account-addresses__form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 570px;
	.input__wrap {
		margin-bottom: 15px;
		&:first-child {
			// margin-right: 15px;
		}
	}
	.input__wrap-half {
		max-width: calc(25% - 20px);
	}
	.input__wrap:not(.input__wrap-half) {
		max-width: calc(50% - 15px);
		width: 100%;
		.input {
			max-width: 100%;
		}
	}
}

.account-addresses__form-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.account-promo__item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.account-promo__name {
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	margin-right: 30px;
}

.account-promo__code {
	padding: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #444444;
	background: linear-gradient(
			315deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		#f0f1f5;
	background-blend-mode: soft-light, normal;
	box-shadow: inset -1.87227px -1.87227px 1.87227px rgba(255, 255, 255, 0.7),
		inset 2.8084px 2.8084px 1.87227px rgba(174, 174, 192, 0.2);
	border-radius: 7.48907px;
}

.account__personal-mailing {
	display: flex;
	align-items: center;
	p {
		max-width: 330px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #444444;
		margin-right: 30px;
	}
}

// @promos
.promos__page {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

// @orders
.account-orders__columns {
	display: grid;
	grid-template-columns: 3.5fr 1.5fr repeat(3, 1fr);
}

.account-orders__heading {
	margin-bottom: 20px;
}
.account-orders__header {
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	color: #000000;
}

.account-orders__row {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}
.account-orders__cell {
	padding-top: 11px;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #444444;

	&:first-child {
		padding-top: 0;
		margin-right: 30px;
	}
}
.account-orders__cell.complete {
	color: var(--c-valid);
}
