.blog {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #eff3f7;
}
.page__blog {
	.blog {
		background-color: #fff;
	}
}
.blog__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.blog__title {
	margin-bottom: 0;
}

.blog__gallery {
	padding-top: 50px;
	width: 100%;
	display: grid;
	// grid-template-columns: repeat(auto-fill, 370px);
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	gap: 25px 30px;
}

.article-card {
	--brad: 20px;
	max-width: 370px;
	background: #ffffff;
	box-shadow: 0px 14px 44px rgba(197, 197, 197, 0.25);
	border-radius: var(--brad);
	padding-left: 25px;
	padding-right: 22px;
	padding-bottom: 35px;
	&:hover .article-card__img {
		transform: scale(1.3);
	}
}
.article-card__link {
	display: block;
	width: 100%;
}

.article-card__img-link {
	display: block;
	height: 200px;
	width: calc(100% + 47px);
	margin-left: -25px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: var(--brad) var(--brad) 0 0;
}
.article-card__pic {
	display: block;
	width: 100%;
	height: 100%;
}

.article-card__img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: 0.25s all;
}

.article-card__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #36383a;
	margin-bottom: 5px;
}
.article-card__title-link {
	&:focus,
	&:hover {
		color: var(--c-primary);
	}
}

.article-card__desc {
	font-weight: 350;
	font-size: 18px;
	line-height: 125%;
	color: #36383a;
	margin-bottom: 11px;
}

.article-card__link {
	display: inline-flex;
	width: auto;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 125%;
	color: var(--c-primary);
	transition: 0.25s all;
	&:after {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		margin-left: 5px;
		background-color: var(--c-primary);
		--arrow-mask: url("../img/common/angle-bold-right.svg") center / contain;
		mask: var(--arrow-mask);
		-webkit-mask: var(--arrow-mask);
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		transition: 0.25s all;
	}
	&:focus,
	&:hover {
		border-bottom: 1px solid var(--c-primary);
		&::after {
			transform: translateX(10px);
		}
	}
}

@media (max-width: 1199px) {
	.blog__gallery {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 15px;
	}

	.article-page__container-inner {
		ol,
		ul {
			padding-left: 30px;
		}
	}
}

@media (max-width: 767px) {
	.blog__gallery {
		grid-template-columns: 1fr 1fr;
	}
	.article-card {
		padding-bottom: 20px;
		padding-right: 16px;
		padding-left: 16px;
	}
	.article-card__title {
		font-weight: 700;
		font-size: 15px;
		line-height: 120%;
		color: #36383a;
	}
	.article-card__desc {
		font-weight: 350;
		font-size: 14px;
		line-height: 125%;
		color: #36383a;
	}
	.article-card__link {
		font-size: 15px;
		line-height: 125%;
	}
	.article-card__img-link {
		width: calc(100% + 32px);
		margin-left: -16px;
	}
}

@media (max-width: 767px) {
	.blog {
		padding-top: 40px;
		.socials__title {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.blog {
		padding-bottom: 0;
	}
	.blog__container {
		padding-left: 0;
		padding-right: 0;
	}
	.blog__title {
		padding-left: 10px;
	}
	.blog__socials {
		padding-right: 10px;
	}
	.gallery__mobile-scrollable.blog__gallery {
		padding-left: 10px;
		padding-top: 15px;
		padding-bottom: 40px;
		display: flex;
		overflow-x: scroll;
		overflow-scrolling: touch;
		-webkit-overflow-scrolling: touch;

		.article-card {
			min-width: 220px;
			max-width: 220px;
			margin-right: 12px;
		}
		.article-card__title {
			font-size: 14px;
		}
	}
	.article-card__img-link {
		height: 120px;
	}
	.page__blog {
		.blog__title,
		.blog__socials {
			padding: 0;
		}
		.blog__container {
			padding-left: 10px;
			padding-right: 10px;
		}
		.blog__gallery {
			padding-top: 15px;
			margin-bottom: 20px;
		}
		.article-card__img-link {
			height: 84px;
		}
		.article-card__desc {
			// show only 3 first lines
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.article-card__link::after {
		display: none;
	}
}
