.cart__page {
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
	position: relative;
}
.cart-table {
	background: #ffffff;
	box-shadow: 0px 14px 44px rgba(197, 197, 197, 0.25);
	border-radius: 20px;
	padding-top: 35px;
	padding-bottom: 50px;
}
.cart-table__columns {
	padding-left: 50px;
	padding-right: 50px;
}
.cart-table__heading {
	display: grid;
	grid-template-columns: 3.5fr 1.5fr repeat(3, 1fr);
	margin-bottom: 20px;
}
.cart-table__header {
	font-weight: 300;
	font-size: 18px;
	line-height: 120%;
	display: flex;
	align-items: center;
	color: #000000;
}

.cart-table__row {
	display: grid;
	grid-template-columns: 3.5fr 1.5fr repeat(3, 1fr);
	align-items: center;
	margin-bottom: 25px;
}
.cart-table__cell {
	display: flex;
	align-items: center;
}

.cart-table__body {
	margin-bottom: 55px;
}
.cart-table__quantity-stepper {
	margin-bottom: 0;
}
.cart-table__remove {
	padding: 0;
	font-size: 0;
	width: 30px;
	height: 30px;
	background: #ffffff;
	border-radius: 100%;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	margin-left: auto;
	&:after {
		display: none;
	}
}
.cart-table__remve-cross {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
	transition: 0.25s all;
	border-radius: 100%;
	&::before,
	&::after {
		content: "";
		display: block;
		background-color: var(--c-danger);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
	}
	&::before {
		width: 2px;
		height: 12px;
	}
	&::after {
		width: 12px;
		height: 2px;
	}
}
.cart-table__remove {
	&:focus,
	&:hover {
		.cart-table__remve-cross {
			background-color: var(--c-danger);
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
}

.cart-table__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-table__total {
	max-width: 280px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.cart-table__total-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #808080;
}
.cart-table__total-value {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	text-align: right;
	color: #000000;
}

.button__cart-checkout {
	max-width: 350px;
}

.cart-table__size-picker {
	width: 60px;
}

.cart-table__size-current {
	padding-left: 10px;
	display: flex;
	&::after {
		content: "";
		margin-left: 3px;
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: var(--c-text-second);
		@include getmask(url("../img/common/angle-right.svg"));
		transform: rotate(90deg);
	}
	&:focus,
	&:hover {
		color: var(--c-primary);
		&::after {
			background-color: var(--c-primary);
		}
	}
}
.cart-table__size-list {
	padding-top: 8px;
	width: 60px;
	background-color: #fdfdfd;
	// box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.2);
	border-radius: 5px;
	padding-bottom: 8px;
}

.cart-table__size-list-variation {
	width: 60px;
	button {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		&:focus,
		&:hover {
			color: var(--c-primary);
		}
	}
}
.cart-table__cell-title {
	display: none;
}

@media (max-width: 1199px) {
	.cart__page {
		padding-top: 40px;
	}
}

@media (max-width: 991px) {
	.cart__page {
		padding-bottom: 40px;
	}
	.cart-table {
		box-shadow: none;
		padding: 0;
	}
	.cart-table__columns {
		padding-left: 0;
		padding-right: 0;
	}
	.cart-table__heading,
	.cart-table__row {
		grid-template-columns: 3.5fr 1.8fr repeat(3, 1fr);
	}
	.cart-table__footer {
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
		background-color: #fbfbfb;
		border-top: none;
	}
	.cart-table__total {
		margin-bottom: 20px;
	}
	.cart-table__body {
		margin-bottom: 15px;
	}
}
@media (max-width: 767px) {
	.cart-table__heading {
		display: none;
	}
	.cart-table__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid var(--c-text-second);
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	.cart-table__cell--product {
		max-width: 100%;
		width: 100%;
		margin-bottom: 25px;
		.product-cell {
			max-width: calc(100% - 50px);
			width: 100%;
		}
	}
	.cart-table__cell--quantity {
		max-width: 100%;
		width: 100%;
		margin-bottom: 15px;
	}
	.cart-table__cell--product-price,
	.cart-table__cell--product-total,
	.cart-table__cell--size {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.cart-table__cell-title {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		color: #000000;
		opacity: 0.5;
	}

	.cart-table__quantity-stepper {
		max-width: 100%;
		width: 100%;
		.control-stepper__button {
			min-width: 100px;
			width: 100px;
		}
	}
	.cart-table__remove {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media (max-width: 576px) {
	.cart-table__cell-title {
		font-size: 14px;
	}
	.cart-table__cell--product-total,
	.cart-table__cell--product-price {
		color: #000;
	}

	.cart-table__footer {
		padding-left: 10px;
		padding-right: 10px;
	}
	.cart-table__total-title {
		font-size: 14px;
	}
	.cart-table__total-value {
		font-size: 16px;
	}
}
