.header {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 20;
	background-color: #fff;
}
.header__container {
	background-color: #fff;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	position: relative;
	z-index: 2;
}
.header__branding {
	margin-right: 15px;
}

.header__contacts {
	display: flex;
	// align-items: flex-start;
	justify-content: space-between;
	margin-right: 20px;
}

.header__geo {
	display: inline-block;
	position: relative;
	margin-right: 18px;
	overflow: visible;
	.bayan__bottom {
		height: 200%;
	}
}
.header__geo--current {
	font-size: 16px;
	display: flex;
	align-items: center;
	padding-top: 3px;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid #e6e6e6;
		margin-left: 5px;
		margin-top: 1px;
	}
}
.header__geo-list {
	background: #ffffff;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
	position: absolute;
	width: 100%;
}
.header__geo-button {
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 5px;
	font-weight: 300;
	font-size: 14px;
	line-height: 140.4%;
	cursor: pointer;
	&:focus,
	&:hover {
		background: #f6fbff;
	}
}
.header__geo-item--current {
	background: #f6fbff;
}

.header__phone {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	&:before {
		content: "";
		margin-right: 10px;
		display: block;
		width: 16px;
		height: 16px;
		background-image: url("../img/common/phone.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:focus,
	&:hover {
		color: var(--c-primary);
	}
}

.header-stocks__wrap {
	max-width: 320px;
	background-color: var(--c-primary);
	border-radius: 10px;
	color: #fff;
}
.header-stocks-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}
.header-stocks__button-next {
	right: 0;
	color: #fff;
}
.header-stocks__button-prev {
	left: 0;
	color: #fff;
}
.header-stocks__button-prev.swiper-button-disabled,
.header-stocks__button-next.swiper-button-disabled {
	opacity: 0;
}

.header-stocks__button-next:after,
.header-stocks__button-prev:after {
	font-size: 20px;
}

.header-userbar {
	display: flex;
	justify-content: space-between;
}
.header-userbar__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-left: 25px;
	&:focus {
		outline: 1px dotted var(--c-primary);
	}
}
.header-userbar__icon {
	margin-bottom: 7px;
}
.header-userbar__desc {
	font-size: 13px;
	text-align: center;
}

@media (min-width: 1100px) {
	.header-userbar__item--home {
		display: none;
	}
}

// @header-nav
.header-nav {
	width: 100%;
	margin-top: 25px;
	display: flex;
	// align-items: flex-start;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	&.header-nav--opened::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 2;
	}
}
.header-nav__tabbar {
	margin-right: 20px;
	position: relative;
	z-index: 3;
}
.header-nav__tabber {
	display: block;
	width: 100%;
	margin-bottom: 4px;
	padding: 5px 12px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 120%;
	color: #fff;
	&:last-child {
		margin-bottom: 0;
	}
}
.header-nav__tabber--boys {
	background: #7486c7;
}
.header-nav__tabber--girls {
	background: #ec9cda;
}

.header-nav__tabs {
	width: 100%;
	z-index: 3;
	background: #fff;
}
.header-nav__tabs--loading {
	display: none;
}
.header-nav__dropdown {
	// display: none;
	padding-top: 35px;
	background-color: #fff;
	border-radius: 0px 0px 20px 20px;
}
.header-nav__tab {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	// padding: 20px 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 1px solid rgba(2, 2, 2, 0.1);
	border-bottom: 1px solid rgba(2, 2, 2, 0.1);
	color: #444;
}
.header-nav__accordion {
	margin-left: 5px;
	margin-right: 5px;
	position: static;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}

	.bayan__bottom {
		left: 0;
		top: 57px;
		width: 100%;
		z-index: 3;
		transition: none;
	}
}
.header-nav__category {
	display: block;
	width: 100%;
	font-weight: 400;
	font-size: 13px;
	line-height: 120%;
	padding-top: 20px;
	padding-bottom: 20px;
	&:focus,
	&:hover {
		color: var(--c-primary);
	}
}
.header-nav__category-img {
	display: none;
}

.header-nav__title {
	margin-bottom: 30px;
	padding-left: 45px;
	padding-right: 45px;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #444444;
}
.header-nav__subcategories {
	border-top: 1px solid rgba(2, 2, 2, 0.1);
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 30px;
	padding-bottom: 40px;
	column-count: 2;
	column-width: auto;
}

.header-nav__subcategory {
	// display: inline-block;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #444444;
	margin-bottom: 25px;
}
.header-nav__subcategory-link {
	&:focus,
	&:hover {
		color: var(--c-primary);
	}
}

// @search
.search {
	padding-top: 35px;
	padding-bottom: 35px;
	padding-top: 35px;
	padding-bottom: 35px;
	position: absolute;
	width: 100%;
	bottom: 0;
	box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02);
	transition: 0.3s all;
}
.search__wrap {
	position: relative;
	max-width: 550px;
	border-bottom: 1px solid #919191;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.search__button {
	cursor: pointer;
	// position: absolute;
	// right: 0;
	// top: 50%;
	// transform: translateY(-50%);
	display: block;
	width: 40px;
	height: 40px;
	background-color: #686868;
	font-size: 0;
	transition: 0.25s all;
	@include getmask(url("../img/common/search.svg") center / 15px 15px);
	// mask: var(--search-mask);
	// mask-repeat: no-repeat;
	// -webkit-mask: var(--search-mask);
	// -webkit-mask-repeat: no-repeat;
	&:focus,
	&:hover {
		background-color: var(--c-primary);
		transform: scale(1.4);
	}
}
.search__input {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 17px;
	color: #444;
}

.header--search-active {
	.search {
		background: #fff;
		bottom: -110px;
	}
}

.header__mobile {
	display: none;
}
@media (max-width: 1199px) {
	.header__mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		background-color: var(--c-primary);
		position: relative;
		z-index: 3;
		pointer-events: auto;
		&:after {
			content: "";
		}
	}
	.header {
		background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
		pointer-events: none;
	}
	.header__container {
		padding-top: 20px;
		max-width: 100%;
		flex-direction: column;
		transition: 0.55s all;
		top: -200vh;
		// overflow: auto;
	}
	.header__contacts {
		order: 100;
	}
	.header--burger-opened {
		overflow: auto;
		.header__container {
			top: 0;
			pointer-events: auto;
		}
	}
	.header-userbar {
		position: fixed;
		bottom: 5px;
		left: 0;
		right: 0;
		border-radius: 16px;
		margin-left: auto;
		margin-right: auto;
		max-width: 450px;
		width: 100%;
		justify-content: space-evenly;
		background-color: #fff;
		box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
		z-index: 10;
		pointer-events: auto;
	}
	.header-userbar__item {
		padding-top: 14px;
		padding-bottom: 14px;
		margin-left: 0;
		position: relative;
		&:hover .header-userbar__desc {
			display: block;
		}
	}
	.header-userbar__desc {
		position: absolute;
		bottom: 80%;
		display: none;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		padding: 5px;
		color: #fff;
	}
	.header-userbar__icon {
		margin-bottom: 0;
	}

	.header-menu {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-nav {
		flex-direction: column;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 20px;
	}
	.header-nav__tab {
		flex-direction: column;
	}

	.header-stocks__wrap {
		background: transparent;
		color: var(--c-primary);
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.header-stocks__button-prev,
	.header-stocks__button-next {
		color: var(--c-primary);
	}

	.header-nav__tabbar {
		display: flex;
		justify-content: space-between;
		max-width: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 22px;
	}
	.header-nav__tabber {
		margin-bottom: 0;
		&:last-child {
			margin-left: 14px;
		}
	}
	.header-nav__tab {
		max-width: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		border: none;
	}
	.header-nav__tab .header-nav__accordion {
		width: 100%;
		border-bottom: 1px solid rgba(2, 2, 2, 0.1);
		&:first-child {
			border-top: 1px solid rgba(2, 2, 2, 0.1);
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.header-nav__category {
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 16px;
		padding-bottom: 16px;
		font-size: 15px;
		position: relative;
		display: flex;
		align-items: center;
		transition: 0.25s all;
		&:after {
			content: "";
			display: block;
			margin-left: auto;
			width: 16px;
			height: 16px;
			background-color: #444444;
			@include getmask(url("../img/common/angle-right.svg"));
			transform: rotate(90deg);
			transition: 0.25s all;
		}
	}
	.header-nav__category-img {
		display: block;
		width: 18px;
		height: 18px;
		margin-right: 18px;
		object-fit: contain;
	}
	.bayan--opened {
		.header-nav__category:after {
			transform: rotate(-90deg);
		}
	}
	.header-nav__dropdown {
		padding-top: 0;
	}
	.header-nav__title {
		display: none;
	}
	.header-nav__subcategory {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.header-nav__subcategories {
		border-top: none;
		column-count: 1;
		padding-top: 10px;
		padding-left: 8px;
		padding-bottom: 0;
		padding-right: 8px;
	}
	.header-nav__accordion .bayan__bottom {
		transition: 0.25s all;
	}
	.header__contacts {
		width: 100%;
		background-color: #f8f8f8;
		margin-right: 0;
		padding-top: 22px;
		padding-bottom: 80px;
		justify-content: center;
		align-items: center;
	}

	.search {
		pointer-events: auto;
		z-index: 1;
		transform: translateY(-300vh);
	}
	.header--search-active .search {
		bottom: -160px;
	}
}

@media (max-width: 767px) {
	.header-userbar {
		max-width: 100%;
		box-shadow: none;
		bottom: 0;
		border-radius: 0;
	}
	.header__mobile {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.header-stocks__wrap {
		max-width: 300px;
	}
	.header-stocks-slide {
		text-align: left;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.header-nav {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-nav__tab {
		padding-left: 0;
		padding-right: 0;
	}

	.header__container {
		padding-left: 0;
		padding-right: 0;
	}
}
