.article-page {
	padding-top: 50px;
	margin-bottom: 80px;
}
.article-page__container {
	background-color: #fcfcfc;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
	border-radius: 5px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.article-page__container-inner {
	max-width: 1010px;
	margin-left: auto;
	margin-right: auto;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 20px;
		color: #444444;
		font-weight: 700;
	}
	h1 {
		font-size: 25px;
		line-height: 135%;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 20px;
		line-height: 150%;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #444444;
		margin-bottom: 30px;
	}
	img {
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}
	ul {
		list-style: disc;
		margin-bottom: 30px;
	}
	ol {
		list-style: decimal;
		margin-bottom: 30px;
	}
	li {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #444444;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// @payment
.payment-page {
	padding-bottom: 80px;
}
.payment-page__subtitle {
	font-weight: 300;
	font-size: 22px;
	line-height: 175.5%;
	color: #444444;
	margin-bottom: 22px;
}
.payment-page__type {
	margin-bottom: 46px;
	&:last-child {
		margin-bottom: 0;
	}
}
.payment-page__accordion {
	margin-bottom: 40px;
	.bayan--static {
		display: grid;
		grid-template-columns: 320px auto;
		align-items: start;
		column-gap: 60px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.payment-page__accordion-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 175.5%;
	color: #444444;
}
.payment-page__accordion-desc {
	font-weight: 300;
	font-size: 18px;
	line-height: 150%;
	color: #444444;
}

.payment-page__accordion .bayan--dynamic {
	display: none;
}
@media (max-width: 922px) {
	.payment-page__accordion {
		.bayan--static {
			display: none;
		}
		.bayan--dynamic {
			display: block;
		}
	}
}

// @refund
.refund__container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}

.refund__inner {
	max-width: 568px;
}

.refund-form-input__wrap {
	max-width: 350px;
	margin-bottom: 15px;
}

.shipping {
	padding-bottom: 80px;
	.section__desc {
		max-width: 600px;
	}
}
.shipping__lists {
	padding-top: 40px;
}

.warranty-page__pic {
	display: block;
}
.warranty-page__img {
	display: block;
	width: 100%;
}

.about-page__container {
	display: flex;
}
.about-page__text {
	max-width: 600px;
	width: 100%;
}
.about-page__pic {
	display: block;
	margin-left: -150px;
}
.about-page__img {
	width: 100%;
	display: block;
}
.about-page__socials {
	flex-direction: column;
	align-items: flex-start;
	.socials__title {
		margin-bottom: 12px;
	}
	.socials__link:first-child {
		margin-left: 0;
	}
}
