.offers {
	background-color: #f2f2f2;
}
.offers-slider {
	padding-top: 25px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
	padding-bottom: 15px;
	border-radius: 20px;
}
.offers-slider__slide {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	background-color: #fff;
	border-radius: 20px;
	&:hover {
		.offers-slider__button {
			background-color: var(--c-primary-inactive);
		}
	}
}

.offers-slider__inner {
	margin-right: 20px;
}

.offers-slider__title {
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 45px;
	line-height: 120%;
	color: #444444;

	.text--bold {
		font-weight: 600;
	}
}
.offers-slider__desc {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: #444444;
}

.offers-slider__pic {
	max-width: 550px;
	height: 350px;
	width: 100%;
	display: block;
}
.offers-sldier__img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.offers-slider__button-prev {
	left: 0;
	color: transparent;
	height: 86px;
	width: 50px;
	@include getmask(url("../img/common/angle-left-dumb.svg"));
	background-color: var(--c-text-second);
	&:hover {
		background-color: var(--c-primary);
	}
}
.offers-slider__button-next {
	right: 0;
	color: transparent;
	height: 86px;
	width: 50px;
	@include getmask(url("../img/common/angle-right-dumb.svg"));
	background-color: var(--c-text-second);
	&:focus,
	&:hover {
		background-color: var(--c-primary);
	}
}

@media (max-width: 991px) {
	.offers-slider__slide {
		padding: 10px;
		display: block;
	}
	.offers-slider__title {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 30px;
		margin-bottom: 15px;
		text-align: center;
	}
	.offers-slider__desc {
		text-align: center;
	}
	.offers-slider__button {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
	.offers-slider__pic {
		height: 125px;
		margin-left: auto;
		margin-right: auto;
	}
	.offers-slider__img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 767px) {
	.offers-slider__slide {
		padding-top: 28px;
		padding-bottom: 20px;
	}
	.offers-slider__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.offers-slider__title {
		font-weight: 400;
		font-size: 20px;
		line-height: 120%;
	}
	.offers-slider__desc {
		font-weight: 400;
		font-size: 15px;
		line-height: 130%;
	}
	.offers-slider__button {
		max-width: initial;
		display: inline-block;
		width: auto;
	}
}

@media (max-width: 767px) {
	.offers-slider__button {
		padding-top: 13px;
		padding-bottom: 15px;
		padding-right: 18px;
		padding-left: 18px;
		font-size: 15px;
	}
}
