.partners {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #f7f5ef;
	overflow: hidden;
	max-width: 100%;
}

.partners__title {
	text-align: center;
	margin-bottom: 50px;
}

.partners-slider {
	overflow: visible;
}
.partners-slider__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 20px;
}

.partners-slider__pic {
	display: block;
	margin-bottom: 20px;
	width: 100%;
}
.partners-slider__img {
	display: block;
	width: 100%;
	object-fit: contain;
	height: 60px;
}
.partners-slider__name {
	font-weight: 350;
	font-size: 18px;
	line-height: 120%;
	text-align: center;
	color: #36383a;
	opacity: 0.5;
}

@media (max-width: 767px) {
	.partners {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.partners-slider__slide {
		padding-left: 10px;
		padding-right: 10px;
	}
	.partners-slider__name {
		font-size: 15px;
		line-height: 120%;
	}
}
