.product-detail {
	margin-bottom: 80px;
}
.product-detail__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 100px;
}
.product-detail__photos {
	max-width: 600px;
	display: flex;
}

.product-detail-thumbnails__pic {
	display: block;
	width: 100px;
	height: 100px;
}
.product-detail-thumbnails__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.proudct-details-thumbnails__wrap {
	max-width: 100px;
	width: 100%;
	margin-right: 40px;
	height: 425px;
	padding-top: 45px;
	padding-bottom: 60px;
	position: relative;
}
.proudct-details-thumbnails {
	width: 100%;
	overflow: hidden;
	max-height: 330px;
}
.proudct-details-thumbnails__slide {
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
	// &.swiper-slide-active {
	&--active {
		border-color: var(--c-primary);
	}
}
.product-details-thumbnails__button {
	background: #ffffff;
	box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.2);
	width: 30px;
	height: 30px;
	border-radius: 100%;
	color: transparent;
	top: unset;
	bottom: unset;
	left: 0;
	right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	&::after {
		display: block;
		width: 100%;
		height: 100%;
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(90deg);
	}
}
.proudct-details-thumbnails__button-prev {
	top: 25px;
	&::after {
		background-image: url("../img/common/arrow-left.svg");
	}
}
.proudct-details-thumbnails__button-next {
	bottom: 5px;
	&::after {
		background-image: url("../img/common/arrow-right.svg");
	}
}

.product-detail-gallery__wrap {
	max-width: 430px;
	width: 100%;
}
.product-detail-gallery {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	border-radius: 10px;
	height: 425px;
}
.product-detail-gallery__pic {
	width: 100%;
	height: 100px;
}
.product-detail-gallery__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product-detail__title {
	font-weight: 400;
	font-size: 35px;
	line-height: 120%;
	display: flex;
	align-items: center;
	color: #444444;
	margin-bottom: 18px;
}

.product-detail__price {
	display: block;
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #444444;
	margin-bottom: 20px;
}
.product-detail__price--old {
	text-decoration-line: line-through;
	color: #c0c0c0;
}

.product-detail__radio {
	display: flex;
	align-items: flex-start;
}
.product-detail__radio-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #444444;
	margin-right: 16px;
	padding-top: 6px;
}

.product-detail__radio-button {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	min-width: 36px;
	height: 36px;
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 2px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}
.product-detail__size-checkbox {
	display: block;
	color: #9d9d9d;
	padding: 9px 4px;
	position: relative;
}

.product-detail__size-input:checked ~ .product-detail__size-checkbox {
	background-color: var(--c-primary);
	color: #fff;
}
.product-detail__size-input:focus ~ .product-detail__size-checkbox {
	outline: 2px solid var(--c-text-regular);
}

.product-detail__color {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 100%;
	border: 1px solid var(--color);
	position: relative;
}

.product-detail__color-checkbox {
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--color);
	border-radius: 100%;
	transition: 0.25s all;
}
.product-detail__size-input,
.product-detail__color-input {
	appearance: none;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.product-detail__color-input:checked ~ .product-detail__color-checkbox {
	width: 22px;
	height: 22px;
}
.product-detail__radio-inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.product-detail__stock {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
	svg {
		margin-right: 10px;
	}
}

.product-detail__order {
	display: flex;
	align-items: center;
}
.product-detail__order-buttons {
	max-width: 270px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.product-detail__wishlist {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-radius: 100%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	path {
		stroke: var(--c-primary);
		fill: transparent;
	}
	&:focus {
		outline: 2px solid var(--c-primary);
	}
}
.product-detail__wishlist--added {
	path {
		stroke: var(--c-primary);
		fill: var(--c-primary);
	}
}

// @prduct-details @product-tabs
.product-details {
	background: #fafbfc;
	padding-top: 80px;
	padding-bottom: 80px;
}

.product-details__container {
	background-color: #fff;
	position: relative;
	overflow: visible;
}
.product-details__tab {
	display: none;
}
.product-details__tab--active {
	display: block;
}
.product-details__tabers {
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #eaeaea;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.product-details__taber {
	position: relative;
	padding-top: 16px;
	padding-bottom: 21px;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	text-align: center;
	color: #444444;
	transition: 0.25s all;
	width: calc(25% + 20px);
	&:hover {
		color: var(--c-primary);
	}
}

.product-details__taber--active {
	color: var(--c-primary);
	font-weight: 700;
	&::after {
		content: "";
		display: block;
		width: 50px;
		height: 3px;
		margin-left: auto;
		margin-right: auto;
		background-color: var(--c-primary);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.product-details__tabs {
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
.product-details__title {
	margin-bottom: 14px;
	font-weight: 700;
	font-size: 20px;
	line-height: 145%;
	color: #444444;
}
.product-details__stat {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}
.product-details__stat-name {
	display: flex;
	width: 100%;
	position: relative;
	color: #a5a5a5;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		z-index: 1;
		display: block;
		width: 100%;
		height: 4px;
		background-image: url("../img/product/dot.svg");
		background-size: contain;
		background-position: center;
		background-repeat: repeat-x;
	}
	span {
		display: block;
		background-color: #fff;
		position: relative;
		z-index: 2;
	}
}
.product-details__stat-value {
	max-width: 230px;
	width: 100%;
}

// @reviews
.product-details__tab-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.product-details__tab-reviews-title {
	margin-bottom: 0;
}
.product-details__reivew-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.product-details-input__wrap {
	max-width: calc(50% - 15px);
	min-width: 270px;
	width: 100%;
	margin-bottom: 20px;

	&--full {
		max-width: 100%;
	}
}
.product__review-submit {
	max-width: 370px;
}

.product-details__tab-bottom {
	position: relative;
	top: 10px;
}

.product-details__tab-bottom {
	display: grid;
	grid-template-columns: 2fr 0.8fr;
	align-items: start;
	column-gap: 60px;
}
.product-details-reviews-dash {
	max-width: 353px;
	width: 100%;
	vertical-align: top;
	position: sticky;
	top: 90px;
	bottom: 50px;
}

// @reviews
.reviews-dash__row {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.reviews-dash__name {
	width: 100px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #444444;
}
.reviews-dash__chart[value] {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	max-width: 228px;
	width: 100%;
	height: 3px;
	min-width: 150px;
	margin-right: 10px;
}
.reviews-dash__total {
	width: 50px;
	display: block;
}

.review-card {
	padding: 32px 30px 24px;
	background-color: #fafbfc;
	border-radius: 2px;
	margin-bottom: 25px;
	&:last-of-type {
		margin-bottom: 44px;
	}
}
.review-card__person {
	display: flex;
	align-items: baseline;
	margin-bottom: 20px;
}
.review-card__name {
	margin-right: 20px;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #444444;
}
.review-card__date {
	margin-right: 15px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	color: #808080;
}

.review-card__stars {
	display: flex;
	align-items: center;
}

.review-card__stars-count {
	margin-right: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #444444;
}
.review-card__stars-display {
	display: flex;
	align-items: center;
}
.reviews-card__star {
	margin-right: 2px;
	height: 12px;
}

.review-card__feedback {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}
.review-card__feedback-title {
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	color: #353030;
}
.review-card__feedback-desc {
	font-weight: 500;
	font-size: 14px;
	line-height: 155%;
	display: flex;
	align-items: center;
	color: #444444;
}
.product-details__add-review,
.product-details-reviews__more {
	--button-color: var(--c-primary);
}

// @product-desc
.product-details__description {
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 145%;
		color: #444444;
	}
}

.product-details__gallery {
	display: grid;
	grid-template-columns: repeat(4, minmax(140px, 1fr));
	gap: 30px;
	margin-bottom: 40px;
}
.product-details__similar-more {
	max-width: 370px;
}

@media (max-width: 1199px) {
	.proudct-details-thumbnails__wrap {
		margin-right: 20px;
	}
	.product-detail__container {
		column-gap: 20px;
	}
	.product-detail__title {
		font-size: 30px;
	}
	.product-detail__price--new {
		font-weight: 600;
	}
	.product-details__gallery {
		grid-template-columns: repeat(3, minmax(170px, 1fr));
	}

	.product-details__tabers {
		top: 55px;
	}

	.product-details-reviews-dash {
		top: 140px;
	}
	.reviews-dash__chart[value] {
		max-width: 180px;
	}
}

.product-detail-gallery__wrap
	.product-detail-gallery__pagination.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	position: static;
	transform: none;
}

@media (max-width: 991px) {
	.product-detail__container {
		display: block;
	}
	.product-detail__photos {
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}
	.product-detail-gallery__wrap {
		max-width: calc(100%);
		margin-bottom: 15px;
	}
	.proudct-details-thumbnails__wrap {
		order: 2;
		max-width: calc(100%);
		height: initial;
		padding: 0;
		margin-bottom: 25px;
	}
	// .product-detail-gallery__pagination {
	// 	display: none;
	// }

	.product-details-thumbnails__button {
		display: none;
	}

	.product-detail-thumbnails__pic {
		width: 100%;
	}
	.product-detail__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	.product-detail__stock {
		order: -1;
	}
	.product-detail__quantity-stepper {
		margin-bottom: 0;
		margin-right: 20px;
	}
	.product-detail__buy {
		width: 225px;
	}
	.product-detail__wishlist {
		min-width: 40px;
		// width: 40px;
	}
	.product-details__taber {
		width: auto;
	}

	.product-details__tab--reviews .product-details__tab-bottom {
		display: flex;
		flex-wrap: wrap;
	}
	.product-details-reviews-dash {
		order: -1;
		position: static;
		background-color: #fff;
		max-width: 100%;
		width: 100%;
	}
	.reviews-dash__chart[value] {
		max-width: 100%;
	}

	.product-details__starpicker-wrap {
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	.product__review-submit {
		max-width: 100%;
	}
	.product-details__gallery {
		grid-template-columns: repeat(2, 1fr);
	}
	.product-detail {
		margin-bottom: 40px;
	}
	.product-details {
		padding-top: 40px;
	}
	.product-details__tabs {
		--reviews-padding: 40px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
	.product-details__tab {
		padding-top: 30px;
		padding-left: var(--reviews-padding);
		padding-right: var(--reviews-padding);
	}
	.product-details__tab--reviews {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		// background-color: #fafbfc;
	}
	.product-details__tab-top {
		padding-top: 30px;
		padding-left: var(--reviews-padding);
		padding-right: var(--reviews-padding);
		background-color: #fff;
	}
	.product-details-reviews-dash {
		padding-left: var(--reviews-padding);
		padding-right: var(--reviews-padding);
		padding-bottom: 20px;
		background-color: #fff;
		margin-top: -10px;
	}
	.review-card {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.product-details-input__wrap {
		max-width: 100%;
	}
	.product-details__stat {
		display: block;
		margin-bottom: 10px;
		span {
			margin-bottom: 3px;
			font-size: 14px;
			line-height: 130%;
		}
	}
	.product-details__stat-name {
		&::after {
			display: none;
		}
	}
	.product-details__stat-value {
		font-size: 15px;
		line-height: 130%;
	}
	.product-details__title {
		display: none;
	}
	.product-details__tab--reviews {
		.product-details__title {
			display: block;
			width: 100%;
			margin-bottom: 11px;
		}
	}

	.product-details__container {
		background-color: transparent;
	}
	.product-details__tab {
		padding-bottom: 30px;
		background-color: #fff;
	}
}

@media (max-width: 576px) {
	.product-detail {
		margin-bottom: 32px;
	}
	.product-detail-gallery {
		height: 232px;
	}
	.product-detail-gallery__button-prev {
		left: 5px;
	}
	.product-detail-gallery__button-next {
		right: 5px;
	}
	.product-detail-gallery__pagination {
		padding-top: 10px;
	}

	.proudct-details-thumbnails {
		height: 65px;
	}
	.product-detail-thumbnails__pic {
		height: 100%;
	}

	.product-detail__title {
		font-size: 20px;
	}
	.product-detail__stock {
		font-size: 13px;
		order: 5;
	}
	.product-detail__price {
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px solid #e7e7e7;
		margin-bottom: 20px;

		font-weight: 400;
		font-size: 25px;
		line-height: 100%;
	}

	.product-detail__options {
		max-width: 100%;
	}
	.product-detail__options-name {
		margin-bottom: 12px;
	}
	.product-detail__radio {
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid #e7e7e7;
		margin-bottom: 20px;
	}
	.product-detail__radio-inner {
		flex-wrap: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		mask-image: var(--scroll-mask-limiter);
		padding-left: 10px;
		margin-left: -10px;

		// hide horizontal scrollbar
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
		&::-moz-scrollbar,
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.product-detail__size-checkbox {
		white-space: nowrap;
		width: auto;
		padding: 12px;
		height: initial;
	}
	.product-detail__radio-button {
		min-width: initial;
		height: initial;
	}

	.product-detail__quantity-stepper {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 18px;
	}
	.control-stepper__button {
		min-width: 60px;
	}
	.product-detail__order {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.product-detail__color {
		min-width: 30px;
	}

	// tabs
	.product-details {
		padding-top: 30px;
		padding-bottom: 0;
	}
	.product-details__tabers {
		padding-right: 0;
		top: 40px;
		justify-content: flex-start;
		overflow-x: auto;
		flex-wrap: nowrap;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		--mask-limiter-color: rgba(250, 251, 252, 1.25);
		mask-image: linear-gradient(
			90deg,
			transparent 0,
			var(--mask-limiter-color) 0,
			#000 18px,
			#000 calc(100% - 18px),
			var(--mask-limiter-color) calc(100% - 9px),
			transparent
		);
		background-color: #fafbfc;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
		&::-moz-scrollbar,
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.product-details__title {
		font-size: 18px;
	}
	.product-details__taber {
		margin-right: 20px;
	}
	.product-details__tab {
		padding-left: 20px;
		padding-right: 20px;
	}
	.product-details__tab--reviews {
		padding-left: 0;
		padding-right: 0;
		.product-details__tab-top {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.product-details__tab-top {
		padding-left: 0;
		padding-right: 0;
	}
	.product-details-input__wrap {
		min-width: initial;
		margin-bottom: 15px;
	}

	.reviews-dash {
		--reviews-padding: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.reviews-dash__name {
		width: 130px;
		font-size: 13px;
	}
	.reviews-dash__total {
		text-align: center;
	}

	.review-card__person {
		display: grid;
		grid-template-areas: "name stars" "name date";
	}
	.review-card__name {
		grid-area: name;
		font-size: 15px;
	}
	.review-card__stars {
		grid-area: stars;
		justify-self: end;
	}
	.review-card__date {
		grid-area: date;
		margin-right: 0;
		justify-self: end;
	}
	.review-card__feedback-title {
		margin-bottom: 5px;
		font-size: 13px;
	}
	.product-details__description p {
		font-size: 14px;
	}
	.review-card__feedback-desc {
		font-size: 12px;
	}
	.product-details__taber {
		font-size: 15px;
	}

	.product-details__gallery {
		gap: 14px;
	}
	.product-details__tab--similar {
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
	}
}
