.shops {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #fff;
}
.shops__container {
	display: flex;
	justify-content: space-between;
}

.shops__title {
	margin-bottom: 10px;
}
.shops__desc {
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	color: #444444;
}

.shops__info {
	margin-right: 30px;
}

.shops-addresses {
	max-width: 370px;
	padding: 25px;
	margin-bottom: 25px;
	border: 1px solid transparent;
	background: #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 14px 44px rgba(197, 197, 197, 0.25);
	border-radius: 20px;
}
.shops-addresses--active {
	border: 1px solid var(--c-primary);
}
.shops-addresses__adress {
	&:focus,
	&:hover {
		color: var(--c-primary);
	}
}
.shop-addresses__item {
	cursor: pointer;
	&:focus,
	&:hover {
		outline: 3px solid var(--c-primary);
	}
}

.shops-addresses__location {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.shops-addresses__time {
	display: flex;
	align-items: center;
}

.shops-addresses__icon {
	min-width: 24px;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.shops__map {
	overflow: hidden;
	filter: drop-shadow(0px 14px 44px rgba(197, 197, 197, 0.25));
	border-radius: 20px;
	max-width: 670px;
	width: 100%;
}

.shops__map-placeholder {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.shops__map-placeholder--hidden {
	display: none;
}
.shops__map-iframe {
	max-width: 100%;
	width: 100%;
	display: none;
	height: 100%;
}
.shops__map-iframe--active {
	display: block;
}

@media (max-width: 1199px) {
	.shops__map {
		max-width: 540px;
	}
}

@media (max-width: 991px) {
	.shops__container {
		display: block;
	}
	.shops__info {
		margin-right: 0;
	}

	.shops-addresses {
		max-width: 100%;
	}
	.shops__map {
		max-width: 100%;
		height: 250px;
	}
}

@media (max-width: 767px) {
	.shops {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.shop-addresses {
		margin-bottom: 10px;
	}
	.shop-addresses__item {
		padding: 15px 13px 15px 15px;
	}
	.shops-addresses__location {
		align-items: flex-start;
		margin-bottom: 10px;
		.shops-addresses__icon {
			margin-top: 5px;
		}
	}
	.shops-addresses__icon {
		min-width: 16px;
		width: 16px;
		height: 16px;
	}
	.shops__map {
		height: 200px;
	}
	.shops__map {
		border-radius: 10px;
	}
}
