<section class="blog">
	<div class="container blog__container">
		<h2 class="section__title blog__title">Блог</h2>
		<div class="socials blog__socials">
			<h3 class="socials__title">Мы в соцсетях:</h3>
			<include src="src/blocks/socials.html"></include>
		</div>
		<div class="blog__gallery gallery-3 gallery__mobile-scrollable">
			<article class="article-card card">
				<picture class="article-card__pic"
					><img src="./img/blog/blog-img.png" alt="" class="article-card__img"
				/></picture>
				<h3 class="article-card__title">Лучшая обувь для зимы</h3>
				<p class="article-card__desc">
					Хлеб по этому рецепту получается мягкий, воздушный с идеальной
					структурой мякиша. На приготовление не требуется много времени а в
					результате получаете потрясающий домашний хлеб.
				</p>
				<a href="" class="article-card__link">Подробнее</a>
			</article>
			<article class="article-card card">
				<picture class="article-card__pic"
					><img src="./img/blog/blog-img.png" alt="" class="article-card__img"
				/></picture>
				<h3 class="article-card__title">Лучшая обувь для зимы</h3>
				<p class="article-card__desc">
					Хлеб по этому рецепту получается мягкий, воздушный с идеальной
					структурой мякиша. На приготовление не требуется много времени а в
					результате получаете потрясающий домашний хлеб.
				</p>
				<a href="" class="article-card__link">Подробнее</a>
			</article>
			<article class="article-card card">
				<picture class="article-card__pic"
					><img src="./img/blog/blog-img.png" alt="" class="article-card__img"
				/></picture>
				<h3 class="article-card__title">Лучшая обувь для зимы</h3>
				<p class="article-card__desc">
					Хлеб по этому рецепту получается мягкий, воздушный с идеальной
					структурой мякиша. На приготовление не требуется много времени а в
					результате получаете потрясающий домашний хлеб.
				</p>
				<a href="" class="article-card__link">Подробнее</a>
			</article>
			<article class="article-card card">
				<picture class="article-card__pic"
					><img src="./img/blog/blog-img.png" alt="" class="article-card__img"
				/></picture>
				<h3 class="article-card__title">Лучшая обувь для зимы</h3>
				<p class="article-card__desc">
					Хлеб по этому рецепту получается мягкий, воздушный с идеальной
					структурой мякиша. На приготовление не требуется много времени а в
					результате получаете потрясающий домашний хлеб.
				</p>
				<a href="" class="article-card__link">Подробнее</a>
			</article>
			<article class="article-card card">
				<picture class="article-card__pic"
					><img src="./img/blog/blog-img.png" alt="" class="article-card__img"
				/></picture>
				<h3 class="article-card__title">Лучшая обувь для зимы</h3>
				<p class="article-card__desc">
					Хлеб по этому рецепту получается мягкий, воздушный с идеальной
					структурой мякиша. На приготовление не требуется много времени а в
					результате получаете потрясающий домашний хлеб.
				</p>
				<a href="" class="article-card__link">Подробнее</a>
			</article>
			<article class="article-card card">
				<picture class="article-card__pic"
					><img src="./img/blog/blog-img.png" alt="" class="article-card__img"
				/></picture>
				<h3 class="article-card__title">Лучшая обувь для зимы</h3>
				<p class="article-card__desc">
					Хлеб по этому рецепту получается мягкий, воздушный с идеальной
					структурой мякиша. На приготовление не требуется много времени а в
					результате получаете потрясающий домашний хлеб.
				</p>
				<a href="" class="article-card__link">Подробнее</a>
			</article>
		</div>
	</div>
</section>
