<section class="blog">
	<div class="container blog__container">
		<h2 class="section__title blog__title">
			<a class="link-regular" href="blog.html">Блог</a>
		</h2>
		<div class="socials blog__socials">
			<h3 class="socials__title">Больше новостей тут:</h3>
			<include src="src/blocks/socials.html"></include>
		</div>
		<div class="blog__gallery gallery-3 gallery__mobile-scrollable">
			<include src="src/blocks/article.html"></include>
			<include src="src/blocks/article.html"></include>
			<include src="src/blocks/article.html"></include>
			<include src="src/blocks/article.html"></include>
			<include src="src/blocks/article.html"></include>
			<include src="src/blocks/article.html"></include>
		</div>
	</div>
</section>
