<section class="bullets">
	<div class="container bullets__container">
		<article class="bullets-card">
			<picture class="bullets-card__pic"
				><img
					src="img/bullets/bullet-1.png"
					alt="маманадо доставка"
					class="bullets-card__img"
			/></picture>
			<p class="bullets-card__desc">
				Доставляем с примеркой по Красноярску, Улан-Удэ и областям
			</p>
		</article>
		<article class="bullets-card">
			<picture class="bullets-card__pic"
				><img
					src="img/bullets/bullet-2.png"
					alt="маманадо детская одежда"
					class="bullets-card__img"
			/></picture>
			<p class="bullets-card__desc">
				Только сертифицированная продукция от известных брендов
			</p>
		</article>
		<article class="bullets-card">
			<picture class="bullets-card__pic"
				><img
					src="img/bullets/bullet-3.png"
					alt="маманадо скидки"
					class="bullets-card__img"
			/></picture>
			<p class="bullets-card__desc">
				Бонусные программы и дисконтные карты с 5% скидкой на всё для постоянных
				клиентов
			</p>
		</article>
		<article class="bullets-card">
			<picture class="bullets-card__pic"
				><img
					src="img/bullets/bullet-4.png"
					alt="маманадо детская обувь"
					class="bullets-card__img"
			/></picture>
			<p class="bullets-card__desc">
				Обувь на все сезоны, в школу, спортивные секции и для дома
			</p>
		</article>
	</div>
</section>
