<section class="featured">
	<div class="container featured__container">
		<h2 class="section__title featured__title">Популярно сейчас!</h2>
		<div class="featured-buttons">
			<button class="featured__button featured__button-prev"></button>
			<button class="featured__button featured__button-next"></button>
		</div>
		<div class="featured__gallery gallery__scrollable--desktop">
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
			<include src="src/blocks/product-card.html"></include>
		</div>
	</div>
</section>
