<section class="featured">
	<div class="container featured__container">
		<h2 class="section__title featured__title">Популярно сейчас!</h2>
		<div class="featured-buttons">
			<button class="featured__button featured__button-prev"></button>
			<button class="featured__button featured__button-next"></button>
		</div>
		<div class="featured__gallery">
			<div class="swiper featured-slider featured__gallery--desktop">
				<div class="swiper-wrapper">
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
					<div class="swiper-slide featured-slider-slide">
						<include src="src/blocks/product-card.html"></include>
					</div>
				</div>
			</div>
			<div class="featured__gallery--mobile">
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
				<include src="src/blocks/product-card.html"></include>
			</div>
			<div class="button__aligner">
				<button class="button button--secondary featured__button-more">
					Показать еще
				</button>
			</div>
		</div>
	</div>
</section>
