<footer class="footer">
	<div class="container footer__container">
		<a href="" class="branding"><img src="" alt="" class="branding__logo" /></a>
		<div class="socials footer__socials">
			<h3 class="socials__title">Мы в соцсетях:</h3>
			<include src="src/blocks/socials.html"></include>
		</div>
		<div class="footer__categories">
			<div class="footer__category">
				<a href="" class="footer__category-link footer__category-name"
					>Зимняя обувь</a
				>
				<ul class="footer__category-list">
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Валенки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Сноубутсы</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Мембранная обувь</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Ботинки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Угги</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Унтоваленки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Сапожки</a>
					</li>
				</ul>
			</div>
			<div class="footer__category">
				<a href="" class="footer__category-link footer__category-name"
					>Весенне-осенняя обувь</a
				>
				<ul class="footer__category-list">
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Сноурейн обувь</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Ботинки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Сапожки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link"
							>Водоaнепроницаемая обувь</a
						>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Резиновая обувь</a>
					</li>
				</ul>
			</div>
			<div class="footer__category">
				<a href="" class="footer__category-link footer__category-name"
					>Летняя обувь</a
				>
				<ul class="footer__category-list">
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Туфли закрытые</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Полуботинки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Текстильная обувь</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Макасины</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Сандалии</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Пляжная обувь</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Сланцы и кроксы</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Туфли комнатные</a>
					</li>
				</ul>
			</div>
			<div class="footer__category">
				<a href="" class="footer__category-link footer__category-name"
					>Обувь для активного отдыха</a
				>
				<ul class="footer__category-list">
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Кроссовки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Кеды</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Полукеды</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Чешки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Слипоны</a>
					</li>
				</ul>
			</div>
			<div class="footer__category">
				<a href="" class="footer__category-link footer__category-name"
					>Сопутствующие товары</a
				>
				<ul class="footer__category-list">
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Стельки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Шнурки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Аксессуары</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Носки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Гольфы</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Колготки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Зонты</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link">Рюкзаки</a>
					</li>
					<li class="footer__category-item">
						<a href="" class="footer__category-link"
							>Средства по уходу за обувью</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom">
			<address class="footer__address">
				Юридический адрес: РФ, г. Кросноярск, ул. Пушкина, д. Колотушкина,
				220004 Регистрационный номер, дата регистрации, регистрирующий орган:
				192837085, 30.11.2020 Главное управление юстиции Мингорисполкома
			</address>
			<p class="footer__copyright">
				ООО «Мама, надо», УНП 192837085<br />
				© KIDFUN Все права защищены. 2021
			</p>
			<p class="footer__work-hours">
				График работы: круглосуточно<br />
				Регистрация: №0178733, Мингорисполком
			</p>
		</div>
	</div>
</footer>
