<section class="offers">
	<div class="container offers__container">
		<div class="swiper offers-slider">
			<div class="swiper-wrapper">
				<a
					href="category.html"
					tabindex="-1"
					class="swiper-slide offers-slider__slide"
				>
					<div class="offers-slider__inner">
						<h3 class="offers-slider__title">
							Скидки на всю обувь <span> до 50%! </span>
						</h3>
						<p class="offers-slider__desc">На зимний сезон</p>
						<span
							href="#more"
							tabindex="-1"
							class="button button--primary offers-slider__button"
							>Подробнее</span
						>
					</div>
					<picture class="offers-slider__pic"
						><img
							src="./img/offers/offer-1.png"
							alt=""
							class="offers-sldier__img"
					/></picture>
				</a>
				<a
					href="category.html"
					tabindex="-1"
					class="swiper-slide offers-slider__slide"
				>
					<div class="offers-slider__inner">
						<h3 class="offers-slider__title">
							2 Скидки на всю обувь <span> до 50%! </span>
						</h3>
						<p class="offers-slider__desc">На зимний сезон</p>
						<span
							tabindex="-1"
							href="#more"
							class="button button--primary offers-slider__button"
							>Подробнее</span
						>
					</div>
					<picture class="offers-slider__pic"
						><img
							src="./img/offers/offer-1.png"
							alt=""
							class="offers-sldier__img"
					/></picture>
				</a>
				<a
					href="category.html"
					tabindex="-1"
					class="swiper-slide offers-slider__slide"
				>
					<div class="offers-slider__inner">
						<h3 class="offers-slider__title">
							3 Скидки на всю обувь <span class="text--bold"> до 50%! </span>
						</h3>
						<p class="offers-slider__desc">На зимний сезон</p>
						<span
							href="#more"
							tabindex="-1"
							class="button button--primary offers-slider__button"
							>Подробнее</span
						>
					</div>
					<picture class="offers-slider__pic"
						><img
							src="./img/offers/offer-1.png"
							alt=""
							class="offers-sldier__img"
					/></picture>
				</a>
			</div>
			<div class="swiper-pagination offers-slider__pagination"></div>
			<div class="swiper-button-prev offers-slider__button-prev"></div>
			<div class="swiper-button-next offers-slider__button-next"></div>
		</div>
	</div>
</section>
