<section class="partners">
	<div class="container partners__container">
		<h2 class="section__title section__title--center partners__title">
			Бренд-партнёры
		</h2>
		<div class="swiper partners-slider">
			<div class="swiper-wrapper">
				<article class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/kotofei.png"
							alt=""
							class="partners-slider__img"
					/></picture>
					<p class="partners-slider__name">Котофей</p>
				</article>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/rima.png"
							alt=""
							class="partners-slider__img"
					/></picture>
					<p class="partners-slider__name">Римма-кидс</p>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/babyboom.png"
							alt=""
							class="partners-slider__img"
					/></picture>
					<p class="partners-slider__name">Детки</p>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/amakids.png"
							alt=""
							class="partners-slider__img"
					/></picture>
					<p class="partners-slider__name">Ама-кидс</p>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/rebyatishki.png"
							alt=""
							class="partners-slider__img"
					/></picture>
					<p class="partners-slider__name">Ребятишки</p>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/kotofei.png"
							alt=""
							class="partners-slider__img"
					/></picture>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/rima.png"
							alt=""
							class="partners-slider__img"
					/></picture>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/babyboom.png"
							alt=""
							class="partners-slider__img"
					/></picture>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/amakids.png"
							alt=""
							class="partners-slider__img"
					/></picture>
				</div>
				<div class="swiper-slide partners-slider__slide">
					<picture class="partners-slider__pic"
						><img
							src="img/partners/rebyatishki.png"
							alt=""
							class="partners-slider__img"
					/></picture>
				</div>
			</div>
			<div class="swiper-pagination partners-slider__pagination"></div>
			<div class="swiper-button-prev partners-slider__button-prev"></div>
			<div class="swiper-button-next partners-slider__button-next"></div>
		</div>
	</div>
</section>
